@{
    ViewData["Title"] = "Home Page";
}

<div id="app">
    
</div>

@section Scripts
{
    <script>
        window.onload = function () {
            window.MyWebApp.newJsPage("teste");
        }
    </script>
}
